.item {
    background-color: #DAF35C;
    border-radius: 50px;
    position: relative;
    width: 268px;
    height: 200px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.item img {
    width: 60px;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item span {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
}