.payment-result-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    background: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.payment-result-return-button{
    margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.payment-result-return-button:hover {
  background-color: #45a049;
}

.payment-card {
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-card.PAID {
    border-left: 5px solid #28a745;
}

.payment-card.CANCELLED {
    border-left: 5px solid #dc3545;
}

.payment-status {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.payment-status.PAID {
    color: #28a745;
}

.payment-status.CANCELLED {
    color: #dc3545;
}

.payment-details {
    text-align: left;
    font-size: 1rem;
}

.payment-details p {
    margin: 10px 0;
    line-height: 1.5;
}

strong {
    color: #555;
}

.error-message {
    color: #dc3545;
    font-size: 1.2rem;
}

.loading-message {
    font-size: 1.2rem;
    color: #555;
}