.PurchaseHistory-content {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 60px);
}

.PurchaseHistory-table-container {
    width: 60%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}