.homepage-footer {
    height: 120px;
    background: #3E8BFF;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.homepage-footer-content-left {
    display: flex;
    flex: 5;
    padding-top: 4px;
    align-items: center;
    gap: 48px;
}

.homepage-footer-content-left img {
    width: 110px;
}
.homepage-footer-location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.homepage-footer-location span {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.homepage-footer-content-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 18px;
}
.homepage-footer-content-right span {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.homepage-footer-content-right a {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}