/* Sidebar tổng quan */
.sidebar {
    width: 200px; /* Chiều rộng sidebar */
    height: 100vh; /* Chiều cao toàn trang */
    background-color: #005d91; /* Màu xanh sidebar */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed; /* Sidebar cố định */
    left: 0;
    top: 65px; /* Đẩy sidebar xuống dưới header */
    padding: 20px 10px;
  }
  
  /* Logo */
  .sidebar-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  

  
  /* Menu */
  .sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: background 0.3s ease;
  }
  
  .menu-item:hover {
    background-color: #007ab8; /* Màu hover */
    border-radius: 4px;
  }
  /* Đánh dấu mục được chọn là active */
.sidebar-menu li.active .menu-item {
    font-weight: bold; /* Đậm hơn khi chọn */
    background-color: #007ab8; /* Màu nền khác cho mục đang chọn */
    border-radius: 4px;
  }
  /* Footer */
  .sidebar-footer {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: auto;
  }
  