.field-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}
.field-container span {
    font-size: 16px;
    font-weight: 600;
    font-family: EB Garamond;
    line-height: 20px;
    text-align: left;
}
.field-container input {
    font-family: EB Garamond;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.49px;
    border: 1px solid #000000;
    color: #BADEFF00;
    box-sizing: border-box;
    height: 44px;
    width: 500px;
    text-indent: 20px;
    color: #000000;
}
.field-container input:focus {
    outline: 1px solid #1a66f4;
    border: 1px solid #183ebb;
    
}
.forgot-container {
    font-family: EB Garamond;
    color: #184A93;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-decoration-line: underline;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 auto;
    width: fit-content;
    cursor: pointer;
}
.button-container {
    margin-top: 20px;
    width: 500px;
    padding: 12px 0;
    background-color: #184A93;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 2s ease;
}
.button-container button {
    border: none;
    background: none;
    color: white;
    font-family: 'EB Garamond';
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    transition: all 2s ease;
}
.button-container:hover {
    background: linear-gradient(to right, #72d3d5, #72dd79);
    cursor: pointer;
    transition: all 1s ease;
    border: none;
    scale: 1.02;
    border-radius: 10px;
}
.button-container:hover button {
    background: transparent;
    color: #000000;
    cursor: pointer;
    transition: all 1s ease;
}
.no-account-container {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: 20px auto 0;
}
.no-account-container span:first-child {
    font-family: EB Garamond;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.no-account-container span:last-child {
    font-family: EB Garamond;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
    text-decoration-line: underline;    
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #073375;
}
.no-account-container span:last-child:hover {
    color: #4366d7;
}
.error-message {
    padding: 0;
    margin: 0;
    color: red;
    font-family: EB Garamond;
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    padding-left: 10px;
}
